{
  "plugins": ["jest", "prettier"],
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "global-require": "off",
    "no-plusplus": "off",
    "unicorn/no-process-exit": "off",
    "no-process-exit": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "unicorn/consistent-function-scoping": "off"
  },
  "overrides": [
    {
      "files": ["src/generate/templates/schema.ts"],
      "rules": {
        "node/no-missing-import": "off"
      }
    }
  ]
}
