{
  "plugins": [
    'jest',
    'prettier'
  ],
    "extends": ["airbnb-base", 'prettier'],
    "rules": {
      "prettier/prettier": "error",
      "no-console": "off",
      "global-require": "off",
      "no-plusplus": "off"
    }
}
