@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400|Roboto:400,400italic,700);

* {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

body {
    width: 100%;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}